* {
    margin: 0;
    padding: 0;
}

.icons {
    width: 20px;
    height: 20px;
}

.pfp {
    border-radius: 100%;
    object-fit: cover;
}

.sm-pfp {
    width: 45px;
    height: 45px;
}

.lg-pfp {
    width: 85px;
    height: 85px;
}